img {
	width: 30%;
	float: left;
	margin: 1.66%;
}
p {
	margin-left: 1.66%;
	font-family: 'Ubuntu', sans-serif;
	font-size: 35px;
	font-weight: 800;
	text-transform: uppercase;
	width:30%;
	border-bottom: 3px solid #D3D3D3;
	padding-bottom: 25px;
}